node_modules/
.env

/src/generated/prisma
/config/firebase-adminsdk.json

dist
backend/uploads/
*.zip
node_modules_old/

.venv/
assessment-ai-service/venv/

# Chroma local DB
ai-service/chroma_db/
*.sqlite3
ai-service/venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VSCode settings